@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: #252b42;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper--background {
  background: url(../img/cover.png) center top / cover no-repeat;
  max-height: 793px;
}
._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.flex-container {
  display: flex;
}
/*-------------------HEADER---------------------------------------*/
.header {
  width: 100%;
  z-index: 50;
  margin-bottom: 50px;
}
.header__container {
  min-height: 104px;
  display: flex;
  align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
.menu {
  padding: 5px 0;
}
.header__menu {
  margin: 0 0 0 132px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: inherit;
}
.menu__list {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}
.menu__item:last-child {
  margin-bottom: 0;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
/*-------------------HEADER---------------------------------------*/

/*-------------------MAIN---------------------------------------*/

.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252b42;
  max-width: 390px;
  margin-bottom: 35px;
}
.main-block__text {
  font-size: 20px;
  line-height: 30px;
  max-width: 390px;
  margin-bottom: 35px;
}
.main-block__button:not(:last-child) {
  margin-right: 10px;
}
.main-block__buttons {
  margin-bottom: 90px;
  z-index: 1;
}
.main-block__button {
  padding: 10px 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  border-radius: 37px;
  background: transparent;
  color: #0d5c63;
  border: 1px solid #0d5c63;
}
.main-block__button--orange {
  color: #ffffff;
  background: #ff7b47;

  border: 1px solid transparent;
}
/*-------------------MAIN---------------------------------------*/

/*-------------------CARDS--------------------------------------*/
.cards {
  margin-bottom: 80px;
}
.cards__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.cards__item {
  padding: 45px 40px;
  max-width: 228px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #ffffff;
  z-index: 1;
}
.cards__item--color {
  color: #ffffff;
  background: #0d5c63;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.cards__ico {
  margin-bottom: 10px;
}
.cards__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
}
.cards__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
/*-------------------CARDS--------------------------------------*/

/*-------------------DESIGN-BLOCK--------------------------------------*/
.design-block {
  margin-bottom: 250px;
}
.design-block__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.design-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
  margin-bottom: 10px;
}
.design-block__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.design-block__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 40px;
}
.design-block__img {
  margin-bottom: 12px;
}
.design-block__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  max-width: 508px;
  text-align: center;
  margin-bottom: 50px;
}
.design-block__count {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
}
.design-block__info {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
}
/*-------------------DESIGN-BLOCK--------------------------------------*/

/*-------------------ADVICES-BLOCK--------------------------------------*/
.advices__container {
  margin-bottom: 160px;
}
.advices__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.advices__main-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
}
.advices__main-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  max-width: 471px;
  text-align: center;
}
.advices__list {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  gap: 19px;
}
.advices__item {
  /* position: relative; */
  display: flex;
  flex-direction: column;
}

.advices__desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 30px;
  max-width: 167px;
  margin-right: 20px;
  flex: 1 1 auto;
}

.advices__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252b42;
}
.advices__text {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}
.advices__img {
  min-width: 230px;
  max-height: 138px;
  /* position: absolute;
  bottom: 0;
  left: 0;
  bottom: -129px;
  left: 10px; */
}

/*-------------------ADVICES-BLOCK--------------------------------------*/

/*-------------------ABOUT-BLOCK--------------------------------------*/
.about__container {
  margin-bottom: 100px;
}
.about__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.about__main-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
}
.about__main-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  max-width: 471px;
  text-align: center;
}
.about__video {
  margin-right: 135px;
}
.about__desc {
  display: flex;
  flex-direction: column;
}
.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
  margin-bottom: 10px;
}
.about__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  margin-bottom: 50px;
}
.about__item {
  display: inline-flex;
  align-items: center;
}
.about__item:not(:last-child) {
  margin-bottom: 30px;
}
.about__ico {
  margin-right: 20px;
}
.about__info {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252b42;
}
.about__sub-desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}
/*-------------------ABOUT-BLOCK--------------------------------------*/

/*-------------------LOGOS-BLOCK--------------------------------------*/
.logos {
  margin-bottom: 30px;
}
.logos__link:not(:last-child) {
  margin-right: 25px;
}
/*-------------------LOGOS-BLOCK--------------------------------------*/

/*-------------------SUBSCRIBE-BLOCK--------------------------------------*/
.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}
.subscribe::before {
  content: "";
  background: #252b42;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 77px;
}
.subscribe__title {
  flex: 0 1 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  max-width: 266px;
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}
.subscribe__body {
  position: relative;
  z-index: 2;
  margin: 0 30px;
  display: flex;
  padding: 30px 50px;
  align-items: center;
  background: #17213c;
  border-radius: 2px;
  justify-content: space-between;
}
.subscribe__input {
  flex: 1 1 auto;
  min-height: 58px;
  padding: 0 20px;
  border-radius: 5px 0px 0px 5px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  color: #737373;
  border-right: 0;
}
.subscribe__input:focus {
  color: #111;
}
.subscribe__btn {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 20px;
  min-height: 58px;
  color: #fff;
  cursor: pointer;
}
/*-------------------SUBSCRIBE-BLOCK--------------------------------------*/
.contact-us {
  background: #f3f3f3;
  width: 100%;
  height: 100%;
  padding-bottom: 131px;
}
.conctact-us__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0px 80px 0px;
}
.contact-us__main-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252b42;
}
.contact-us__main-text {
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  max-width: 358px;
  text-align: center;
}
.contact-us__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;

  align-items: center;
}
.contact-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 50px; */
  background: #ffffff;
  min-height: 333px;
  min-width: 320px;
}

.contact-us__item--dark-theme {
  background: #252b42;
  min-height: 393px;
  color: #ffffff;
  /* padding: 80px 50px 80px 50px; */
}
.contact-us__item--dark-theme .contact-us__title {
  color: #ffffff;
}
.contact-us__support {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contacts-us__img {
  margin-bottom: 15px;
}
.contacts__list {
  margin-bottom: 15px;
}
.contacts__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.contact-us__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 15px;
}
.contact-us__item--dark-theme .contact-us__btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.contact-us__btn {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ff7b47;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  background: inherit;
  cursor: pointer;
}
.separator {
  background: #fafafa;
  width: 100%;
  padding: 40px 190px;
}
.separator__desc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.separator__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}
.separator__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.separator__btn {
  color: #ffffff;
  background: #ff7b47;
  border-radius: 5px;
  padding: 15px 40px;
  border: 1px solid #ff7b47;
}

/*----------FOOTER---------------------------------------*/
.footer-top {
 
  background: #17213c;
}
.footer-top__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 0;

  color: #fff;
}.footer-top__item:not(:last-child){
  margin-right: 65px;
  max-width: 250px;
}
.footer-top__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.footer-top__body{
  display: flex;
  align-items: center;
}
.footer-top__menu-link {
  color: #ffffff;
}
.footer-top__menu-link:hover{
  /* color: #737373; */
  text-decoration: underline;
}
.footer-top__menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.footer-top__ico {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

/* .footer-top::before {
  content: "";
  background: #ffffff;
  width: 100%;
  position: absolute;
  bottom: -74px;
  left: 0;
  height: 74px;
} */
.footer-bottom__container{
  background: #ffffff;
  position: absolute;
  bottom: -80;
  left: 0;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  padding: 25px 0px;
}

.footer-bottom__socials-ico{
  margin-right: 15px;
}
.footer-bottom__reserved{
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

